<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustBlog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/styles/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/"><img src="/images/logo.svg" alt="logo"></a>
        <nav>
            <form action="/new-post" method="get">
                <button class="button-34" type="submit">New Post</button>
            </form>
            <form action="/" method="get">
                <button class="button-34" type="submit">Posts</button>
            </form>
            <form action="/contact" method="get">
                <button class="button-34" type="submit">Contact Us</button>
            </form>
        </nav>
    </header>

    <main>